<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hydravision.mapper.region.MonitorAreaMapper">

    <!-- 根据区域编码查询 -->
    <select id="selectByAreaCode" resultType="com.hydravision.entity.region.MonitorArea">
        SELECT * FROM hf_monitor_area
        WHERE area_code = #{areaCode}
        AND is_deleted = 0
    </select>

</mapper>
